
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background-color: black;
}
.data{
    height: 180px;
}

label{
    color: white;
}

input{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus{
outline: 7px ridge rgba(170, 50, 220, .6);
border-radius: 5px;
}
.title-principal{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fa-regular{
    display: none;
}